.main{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.line{
    border-bottom-style: solid;
}

.text{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    float: left;
}

.picture-div{
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    margin-left: 5%;
}
.picture{
    width: 50%;
    
}
.back{
    width: 100%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
footer li {
    float: left;
    color: white;
    padding: 14px 16px;
    font-size: 27px;
  }
  
footer li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

