<style>
    footer {
        position: fixed;
        bottom: 0;
        float: left;
        width: 100%;
        margin-top: auto;
    }

    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #212529;
    }

    footer li {
        float: left;
        color: white;
        padding: 10px 16px;
        font-size: 21px;
    }

    footer li a {
        display: block;
        color: white;
        text-align: center;
    }

    .right {
        float: right;
    }
</style>
<footer class="mt-5">
    <ul>
        <li>&copy; AlbsigBay</li>
        <div class="right">
            <li>
                <a href="/datenschutz">Datenschutz</a>
            </li>
            <li>|</li>
            <li>
                <a href="/impressum">Impressum</a>
            </li>
        </div>
    </ul>
</footer>
