.line{
    border-bottom: solid 1px #D4D9D5;
    float: left;
    width: 100%;
    margin-bottom: 1%;
    padding: 10px 0;
}

.line h1 {
    float: left;
    margin: 0;
}

.line a {
    float: right;
    font-size: 30px;
    color: black;
}