<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AlbsigBay - About</title>
        <link rel="stylesheet" type="text/css" href="css/general.css"/>
        <link rel="stylesheet"   type="text/css" href="css/static.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><img width="auto" height="35px" src="img/logo.png" alt="Logo AlbsigBay"></li>
                <li><a href="/">AlbsigBay</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li style="float:right"><a href="/login">Login</a></li>
              </ul>
        </nav>
        <div class="white wide-element">
        <div class="main">
            <div class="line">
                <h1>About</h1>
            </div>
            <div class="text">
                Die Webseite der Bücherei AlbsigBay stellt einen Bücherreservierungsservice zur Verfügung. Bücher können bis zu vier Tagen reserviert und in der
                Bibliothek hinterlegt werden. Erfolgt keine Abholung innerhalb dieser vier Tage, wird das Buch wieder freigegeben und anderen Nutzern zur Reservierung
                freigestellt. Um ein Buch zu reservieren wird ein Account benötigt. Diesen können Sie sich <a href="register.html">hier</a> erstellen und jederzeit wieder
                löschen. Wie der Name bereits impliziert, wird jegliches Urheberrecht innerhalb unseres Bücherreservierungsservices vernachlässigt. 
            </div>
            <div class="picture-div">
                <img src="img/buecherei.png" alt="buecherei">
            </div>
        </div>
        </div>
        <footer>
            <ul>
                <li>&copy; AlbsigBay </li>
                <div class="right">
                <li><a href="/datenschutz">Datenschutz</a></li>
                <li>|</li>
                <li><a href="/impressum">Impressum</a></li>
            </div>
            </ul>
        </footer>
    </body>
