<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AlbsigBay - FAQ</title>
        <link rel="stylesheet" type="text/css" href="css/general.css"/>
        <link rel="stylesheet"   type="text/css" href="css/static.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><img width="auto" height="35px" src="img/logo.png" alt="Logo AlbsigBay"></li>
                <li><a href="/">AlbsigBay</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li style="float:right"><a href="/login">Login</a></li>
              </ul>
        </nav>
        <div class="white wide-element">
        <div class="back">
        <div class="main">
            <div class="line">
                <h1>FAQ</h1>
            </div>
            <div class="wide-text text">
                <h2>Wie lange ist das Buch für mich reserviert?</h2>
                <p>Das Buch liegt für 4 Tage in der Bibliothek für Sie reserviert. Danach wird das Buch wieder über unser System freigegeben!</p>
                <h2>Wie kann ich mir einen Account anlegen?</h2>
                <p>Um sich zu registrieren klicken Sie entweder <a href="/register">hier</a> oder gehen Sie auf "Login" und klicken dann auf den Link "Registrieren"</p>
            </div>
        </div>
        </div>
        </div>
        <footer>
            <ul>
                <li>&copy; AlbsigBay </li>
                <div class="right">
                <li><a href="/datenschutz">Datenschutz</a></li>
                <li>|</li>
                <li><a href="/impressum">Impressum</a></li>
            </div>
            </ul>
        </footer>
    </body>
