<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlbsigBay - Login</title>
    <link rel="icon" type="image/png" href="/public/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
</head>
<body>
<%- include('../components/nav', {page: 'login'}) %>
<main class="container">
    <div class="mt-3">
        <h1 class="display-1">Login</h1>
        <hr>
        <form action="/login" method="post" class="row g-3 form-validation" id="loginForm">
            <div class="col-md-4">
                <label for="emailOrUsername" class="form-label">Email oder Username</label>
                <input type="text" class="form-control" name="emailOrUsername" id="emailOrUsername" required>
                <div class="invalid-feedback">
                    Bitte Email oder Username eingeben.
                </div>
            </div>
            <div class="col-md-4">
                <label for="password" class="form-label">Passwort</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="invalid-feedback">
                    Bitte Passwort eingeben.
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-secondary">Abschicken</button>
            </div>
        </form>
        <div class="h4 mt-5">
            <p>Noch keinen Account ? <br><a href="/register">Registrieren</a></p>
        </div>
    </div>
</main>
<%- include('../components/footer', {page: 'login'}) %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
