<!DOCTYPE html>
<html>
<head>
    <title>AlbsigBay - Registrieren</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/input.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
</head>
<body>
<nav>
    <ul>
        <li><img width="auto" height="35px" src="img/logo.png" alt="Logo AlbsigBay"></li>
        <li><a href="/">AlbsigBay</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li style="float:right"><a href="/login">Login</a></li>
    </ul>
</nav>
<div class="white wide-element">
    <div class="line">
        <h1>Registrierung</h1>
    </div>
    <form id="registerForm">
        <div class="input-fields">
            <ul class="input-list">
                <li><label for="vorname">Vorname: </label>
                    <input type="text" placeholder="Vorname eingeben" name="vorname" id="vorname">
                </li>
                <li><label for="email">Email: </label>
                    <input type="text" placeholder="Email eingeben" id="email">
                </li>
                <li><label for="passwort">Passwort: </label>
                    <input type="password" placeholder="Passwort eingeben" id="passwort">
                </li>
                <li><label for="stadt">Stadt: </label>
                    <input type="text" placeholder="Stadt eingeben" id="stadt">
                </li>
                <li><label for="strasse">Straße: </label>
                    <input type="text" placeholder="Straße eingeben" id="strasse">
                </li>
            </ul>
        </div>
        <div class="input-fields">
            <ul class="input-list">
                <li><label for="name">Name: </label>
                    <input type="text" placeholder="Name eingeben" id="name">
                </li>
                <li><label for="re-email">RE-Email: </label>
                    <input type="text" placeholder="Email erneut eingeben" id="re-email">
                </li>
                <li><label for="re-passwort">RE-Passwort: </label>
                    <input type="password" placeholder="Passwort erneut eingeben" id="re-passwort">
                </li>
                <li><label for="plz">PLZ: </label>
                    <input type="text" placeholder="PLZ eingeben" id="plz">
                </li>
                <li><label for="hausnummer">Hausnummer: </label>
                    <input type="text" placeholder="Hausnummer eingeben" id="hausnummer">
                </li>
            </ul>
        </div>
        <div class="register">
            <div class="datenschutz">
                <input type="checkbox" id="terms-of-conditions">
                <label for="terms-of-conditions">Datenschutzerklärung akzeptieren</label>
            </div>
            <input type="submit" id="submit" value="Abschicken">
        </div>
    </form>
</div>
<footer>
    <ul>
        <li>&copy; AlbsigBay</li>
        <div class="right">
            <li><a href="/datenschutz">Datenschutz</a></li>
            <li>|</li>
            <li><a href="/impressum">Impressum</a></li>
        </div>
    </ul>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $('#registerForm').on('submit', (e) => {
            e.preventDefault()

            let userData = {
                firstname: $('#vorname').val(),
                name: $('#name').val(),
                email: $('#email').val(),
                reEmail: $('#re-email').val(),
                password: $('#passwort').val(),
                rePassword: $('#re-passwort').val(),
                city: $('#stadt').val(),
                street: $('#strasse').val(),
                zip: $('#plz').val(),
                streetNumber: $('#hausnummer').val()
            }

            $.ajax({
                type: 'POST',
                url: '/register',
                data: userData,
                dataType: 'json'
            }).done((res) => {
                console.log('success')
                window.location.href = `/profile/${res.responseJSON.user.id}`
            }).fail((res) => {
                let errors = []

                for (let i = 0; i < res.responseJSON.errors.length; i++) {
                    errors.push('\n' + res.responseJSON.errors[i])
                }

                alert(errors)
            })

            console.log(userData)
        })
    })
</script>
</body>
</html>
