<!DOCTYPE html>
<html>
    <head>
        <title>AlbsigBay - Verwaltung</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/general.css"/>
        <link rel="stylesheet" type="text/css" href="css/verwaltung.css">
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><img width="auto" height="35px" src="img/logo.png" alt="Logo AlbsigBay"></li>
                <li><a href="index-lg.html">AlbsigBay</a></li>
                <li><a href="index-lg.html">Home</a></li>
                <li><a href="about-lg.html">About</a></li>
                <li><a href="faq-lg.html">FAQ</a></li>
                <li><a href="verwaltung.html">Verwaltung</a></li>
                <li style="float:right"><a href="index.html">Logout</a></li>
                <li style="float:right"><a href="profile.html">Profil</a></li>
              </ul>
        </nav>
        <div class="white wide-element">
            <div class="line">
                <h1>Verwaltung</h1>
                <a href="edit-book.html">Buch hinzufügen</a>
            </div>
            <div class="book">
                <div class="image">
                    <img src="img/book-cover1.png" alt="Buch Cover">
                </div>
                <div class="book-text">
                    <h4>Python 3 - Das umfassende Handbuch</h4>
                    <p>Das Python-Handbuch zum Lernen und Nachschlagen! Ob Sie erst anfangen, mit Python zu arbeiten oder bei Ihrer Arbeit etwas nachschlagen 
                        möchten – in diesem Buch lernen Sie alles, was Sie zu Python 3 wissen müssen. Angefangen mit einer Einführung in die Sprache bietet es 
                        eine Sprachreferenz, die Beschreibung der Standardbibliothek und ausführliche Informationen zu professionellen Themen wie GUI-Entwicklung, 
                        Anbindung an C/C++ oder wissenschaftliches Rechnen. Außerdem enthält es Hinweise für die Migration alter Projekte nach Python 3.</p>
                    <p> Johannes Ernesti, Peter Kaiser</p>
                    <a class="button-mehr" href="edit-book.html">Bearbeiten</a>
                </div>
            </div>
            <div class="book">
                <div class="image">
                    <img src="img/book-cover2.png" alt="Buch Cover">
                </div>
                <div class="book-text">
                    <h4>C von A bis Z</h4>
                    <p>Der beliebte Klassiker unter den Programmierbüchern neu aufgelegt! Aktuell zum Standard C18, von einem Autorenteam aus Praxis und Lehre. Lassen 
                        Sie sich umfassend einführen oder nutzen Sie das Buch als Nachschlagewerk. Von den Grundlagen über die dynamische Speicherverwaltung bis zur 
                        plattformübergreifenden Entwicklung. Randvoll mit hilfreichen Übungen, Beispielen und Praxistipps – C-Wissen pur!</p>
                    <p> Jürgen Wolf, René Krooß </p>
                    <a class="button-mehr" href="edit-book.html">Bearbeiten</a>
                </div>
            </div>
        </div>
        <footer>
            <ul>
                <li>&copy; AlbsigBay </li>
                <div class="right">
                    <li><a href="datenschutz-lg.html">Datenschutz</a></li>
                    <li>|</li>
                    <li><a href="impressum-lg.html">Impressum</a></li>
            </div>
            </ul>
        </footer>
    </body>
</html>